.file-menu {
  display: block;
  position: absolute;
  transform: translate(0, 10px); /* Adjust position as needed */
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  z-index: 1050;
}

.file-menu-toggle {
  display: none; /* Hide the toggle button */
}
